body {
    margin: 0;
    background-image: url('/images/background_pattern/backpattern.png');
    font-family: Helvetica, Verdana, 'Trebuchet MS', Arial, sans-serif;
}
.main-content p {
    font-size: 20px;
}
div {
    border: 2px solid darkred;
}
.nav-content {
    z-index:1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    background: rgba(0, 0, 0, 0.9);;
    box-shadow: 0px 5px darkred;
}
.main-content {
    Position: relative;
    margin-left: 50%;
    transform: translate(-50%,130px);
    border-radius: 10px;
    color: white;
    background: #555;
}
.main-content h2 {
    font-size: 30px;
} 
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline;
    padding: 15px;
} 
.description > div > img {
    width: 250px;
    height: 300px;
    margin: 20px;
    border-style: double;
    border-width: 5px;
}
@media (min-width: 900px){
    nav ul li:hover{
        background: #222;
    }
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: lightGrey;
    transition: .25s;
}
@keyframes navbarlinkOn {
    from {color: lightGrey;}
    to {color: red;}
}
nav ul li a:hover{
    color: red;
    animation-name: navbarlinkOn;
    animation-duration: .25s;
}
.footer {
    background: black;
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%, 150%);
}
.footer div {
    box-shadow: 0px 5px 0px darkred inset;
    border: none;
}
.footer {
    text-align: center;
    color: white;
}
.menu-btn {
    display: none;
}
.description > div,
.description {
    border: none;
}
@media (max-width: 600px) {
    /* Mobil Screen Range CSS */ 
    .main-content {
        width: 90%;
        padding: 15px;
        padding-top: 5px;
    }
    .description > div > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 600px) and (max-width: 1000px) {
    /* Tablet Screen Range CSS */ 
    .main-content {
        width: 550px;
        padding: 25px;
        padding-top: 10px;
    }
    .description > div > img {
        float: left;
    }
}
@media (min-width: 1000px) { 
    /* Desktop Screen Range CSS */
    .main-content {
        width: 950px;
        padding: 25px;
        padding-top: 10px;
    }


    .description {
    display: flex;
    flex-wrap: wrap;
}
.description .imgArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.description .textArea {
    display: flex;
    flex-direction: column;
    margin : auto;
    width: 635px;
    justify-content: flex-end;
}


}
@media (max-width: 900px){
    /* Mobile Menu */
    
    /* hides drop menu */
    nav ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
    }
    /* drop menu item style */
    nav li a {
        display: block;
        padding: 10px 10px;
    }
    /* drop menu hover */
    nav li a:hover,
    nav .menu-btn:hover {
        background-color: #222;
    }
    /* hides drop menu */
    nav .menu {
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    /* menu icon  */
    nav .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    /* to make menu btn vissible unnessecery                                               */
    nav .menu-icon .navicon {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: lightGrey;
    }
    nav .menu-btn {
        display: none;
    }
    nav .menu-btn:checked ~ .menu {
        max-height: 320px;
    }
    .contactForm{
    width: 100%;
    
}
}